name: Auto Merge
on:
  pull_request:
    branches:
      - main
concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.head_ref || github.sha }}
  cancel-in-progress: true
jobs:
  auto-merge-dependabot:
    runs-on: ubuntu-latest
    timeout-minutes: 3
    permissions:
      pull-requests: write
      contents: write
      issues: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Auto Merge Dependabot PRs
        if: |
          github.actor == 'dependabot[bot]' ||
          github.actor == 'dependabot' ||
          github.actor == 'dependabot-preview[bot]' ||
          github.actor == 'dependabot-preview'
        uses: ./.github/actions/auto-merge
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
  auto-merge-check:
    if: always()
    needs:
      - auto-merge-dependabot
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
      - name: Alls Green
        uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
          allowed-skips: auto-merge-dependabot
